<!DOCTYPE html>
<html lang="de">
    {% include 'header.html' %}
<body>
  {% include 'navbar.html' %}

<div class="kontakt-wrapper"><br><br>
  <h2>Gasthäuser in der Nähe</h2>

  <table class="gaesteliste">
    <tbody>

        <tr>
        <td>Schetteregger Hof</td>
        <td>https://www.schettereggerhof.at/</td>
        <td>mit Spielplatz</td>
        <td><img src="{{ url_for('static', filename='fotos/schettereggerhof.jpg') }}" alt="entsorgen" class="entsorgenfoto"></td>
      </tr>

      <tr>
        <td>s'Amagmach</td>
        <td>https://www.schetteregg.at/company/s-amagmach/</td>
        <td>mit Spielplatz</td>
        <td><img src="{{ url_for('static', filename='fotos/schettereggerhof.jpg') }}" alt="entsorgen" class="entsorgenfoto"></td>
      </tr>
    
     
    </tbody>
  </table>
</div>

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  {% include 'footer.html' %}   
</body>
</html>


