<!DOCTYPE html>
<html lang="de">
    {% include 'header.html' %}
<body>
  {% include 'navbar.html' %}

<div class="kontakt-wrapper"><br><br>
  <h2>Gasthäuser in der Nähe</h2>

  <table class="gaesteliste">
    <tbody>
        <tr>
        <td>Schetteregger Hof</td>
        <td><a href="https://www.schettereggerhof.at/" target="_blank">https://www.schettereggerhof.at/</a></td>
        <td>mit grossem Spielplatz</td>
        <td> <a href="{{ url_for('static', filename='fotos/IMG_20250620_161406.jpg') }}" target="_blank">
            <img src="{{ url_for('static', filename='fotos/IMG_20250620_161406.jpg') }}" alt="entsorgen" class="entsorgenfoto">
            </a>
        </td>
      </tr>

      <tr>
        <td>s'Amagmach</td>
        <td><a href="https://www.schetteregg.at/company/s-amagmach/" target="_blank">https://www.schetteregg.at/company/s-amagmach/</a></td>
        <td>Take away</td>
        <td> <a href="{{ url_for('static', filename='fotos/IMG_20250620_161802_2.jpg') }}" target="_blank">
            <img src="{{ url_for('static', filename='fotos/IMG_20250620_161802_2.jpg') }}" alt="entsorgen" class="entsorgenfoto">
            </a>
        </td>
      </tr>
    
     
    </tbody>
  </table>
</div>

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  {% include 'footer.html' %}   
</body>
</html>


