  <nav class="navbar">
    <div class="menu-toggle" onclick="toggleMenu()">☰</div>
    <ul class="menu">
      <li><a href="{{ url_for('index') }}">☰</a></li>
      <li><a href="{{ url_for('kontakt') }}">Kontakt</a></li>

      <li class="dropdown">
        <a href="#" onclick="toggleDropdown(event)">Gästeinformationen ▾</a>
        <div class="dropdown-content">
           <a href="{{ url_for('anreise') }}">Anreise</a>
           <a href="{{ url_for('veranstaltungen') }}">Veranstaltungen</a>
           <a href="{{ url_for('kueche') }}">Bregenzerwälder Küche</a>
           <a href="{{ url_for('gasthaeuser') }}">Gasthäuser in der Nähe</a>
           <a href="{{ url_for('ab_hof_produkte') }}">Ab-Hof-Produkte</a>
           <a href="{{ url_for('wissenswertes') }}">Abfallentsorgung</a>
        </div>
      </li>
    </ul>
  </nav>