<!DOCTYPE html>
<html lang="de">
    {% include 'header.html' %}
<body>
  {% include 'navbar.html' %}

<div class="kontakt-wrapper"><br><br>
  <h2>Abfallentsorgung</h2>

  <table class="gaesteliste">
    <tbody>
      <tr>
        <td>Restmüll</td>
        <td>schwarzer Sack</td>
        <td>Hütte bei der Abbiegung in die Siedlung</td>
        <td> <a href="{{ url_for('static', filename='fotos/IMG_20250620_161146.jpg') }}" target="_blank">
            <img src="{{ url_for('static', filename='fotos/IMG_20250620_161146.jpg') }}" alt="Restmüll" class="entsorgenfoto">
            </a>
        </td>      </tr>
      <tr>
        <td>Plastikmüll</td>
        <td>gelber Sack</td>
        <td>Hütte bei der Abbiegung in die Siedlung</td>
        <td> <a href="{{ url_for('static', filename='fotos/IMG_20250620_161146.jpg') }}" target="_blank">
            <img src="{{ url_for('static', filename='fotos/IMG_20250620_161146.jpg') }}" alt="Plastik" class="entsorgenfoto">
            </a>
        </td>      </tr>
      <tr>
        <td>Glas</td>
        <td></td>
        <td>in Schetteregg gegenüber Schettereggerhof</td>
        <td> <a href="{{ url_for('static', filename='fotos/IMG_20250620_161606.jpg') }}" target="_blank">
            <img src="{{ url_for('static', filename='fotos/IMG_20250620_161606.jpg') }}" alt="Glas" class="entsorgenfoto">
            </a>
        </td>      </tr>
      <tr>
        <td>Flaschen der Brauerei Egg</td>
        <td>Pfandflaschen</td>
        <td>Abgabe beim Spar in Grossdorf oder bei der Rampe der Brauerei</td>
        <td> <a href="{{ url_for('static', filename='fotos/IMG_20250620_155811.jpg') }}" target="_blank">
            <img src="{{ url_for('static', filename='fotos/IMG_20250620_155811.jpg') }}" alt="Pfandflaschen" class="entsorgenfoto">
            </a>
        </td>      </tr>


    </tbody>
  </table>
</div>

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  {% include 'footer.html' %}   
</body>
</html>


